/* @font-face {
  font-family: "paybooc-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "paybooc-Bold";
  font-size: 48px;
} */
